<div id="formContainer">
    <form method="post" enctype="multipart/form-data" hx-post="{% url 'add_brand' %}" hx-target="#brandItemModelFormCainter" hx-swap="innerHTML">
        {% csrf_token %}
        <div class="row">
            <!-- Embedding the ProductForm fields -->
            <div class="form-group col-md-12">
                {{ form.image.label_tag }} {{ form.image }}
            </div>

            <div class="form-group col-md-12">
                {{ form.title.label_tag }} {{ form.title }}
            </div>

            <div class="form-group col-md-6">
                {{ form.divisions.label_tag }} {{ form.divisions }}
            </div>
            <div class="form-group col-md-6">
                {{ form.subdivisions.label_tag }} {{ form.subdivisions }}
            </div>
            <div class="form-group col-md-6">
                {{ form.categories.label_tag }} {{ form.categories }}
            </div>
            <div class="form-group col-md-6">
                {{ form.subcategories.label_tag }} {{ form.subcategories}}
            </div>
            <div class="form-group col-md-12">
                {{ form.is_hidden.label_tag }} {{ form.is_hidden}}
            </div>
        </div>

        <!-- Form footer -->
        <div class="modal-footer ">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

</div>