{% for pp in p_products %}
<div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
    <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
        <div class="product-img-action-wrap">
            <div class="product-img product-img-zoom">
                <a href="{% url 'itemDetail' pp.id %}">
                    <img class="default-img" src="{{ pp.image.url }}" alt="" />
                    <img class="hover-img" src="{{ pp.hover_img.url }}" alt="" />
                </a>
            </div>
            <div class="product-action-1">
                <a aria-label="Add To Wishlist" class="action-btn" href="{% url 'add_to_wishlist' pp.id %}"><i class="fi-rs-heart"></i></a>
                <a aria-label="Compare" class="action-btn" href="#"><i class="fi-rs-shuffle"></i></a>
                <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
            </div>
            <div class="product-badges product-badges-position product-badges-mrg">
                <span class="hot">{{pp.status}}</span>
            </div>
        </div>
        <div class="product-content-wrap">
            <div class="product-category">
                <a href="#">{{pp.category}}</a>
            </div>
            <h2><a href="{% url 'itemDetail' pp.id %}">{{pp.title}}</a></h2>
            <div class="product-rate-cover">
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: {{pp.rating_value}}%"></div>
                </div>
                <span class="font-small ml-5 text-muted"> ({{pp.rating}})</span>
            </div>
            <div>
                <span class="font-small text-muted">By <a href="#">{{pp.vendor}}</a></span>
            </div>
            <div class="product-card-bottom">
                <div class="product-price">
                    <span>₹{{ pp.discount }}</span>
                    <span class="old-price">₹{% if pp.updated_price != pp.discount %}{{ pp.updated_price }}{% else %}{{pp.price}}{% endif %}</span>
                </div>
                <div class="add-cart">
                    <a class="add" href="{% url 'add_to_cart' pp.id %}"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<br>
{% if cat %}
<a class="btn btn-outline-info" style="display: block;margin:auto;width:200px;border-radius:20px;border:none;" href="{% url 'category_detail' cat.id %}"><i class="fa fi-rs-angle-double-small-right mx-2"></i>View More</a>
{% else %}
<a class="btn btn-outline-info" style="display: block;margin:auto;width:200px;border-radius:20px;border:none;" href="{% url 'market' %}"><i class="fa fi-rs-angle-double-small-right mx-2"></i>View More</a>
{% endif %}